@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root {
    --bg-white: #efeff7;
    --bg-green: #20d533;
    --bg-green-dark: #1c301d;
    --bg-green-medium: #0f7719;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

header {
    width: 100%;
    padding: 0px 20px;
    background: var(--bg-white);
}

.navbar {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    background: var(--bg-white);
}

.navbar-brand a {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#Dev {
    color: var(--bg-green);
}

#Hours {
    color: var(--bg-green-dark);
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: block;
    padding: 0px 10px;
    text-decoration: none;
    color: var(--bg-green-dark);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button img {
    width: 25px;
}

.section_01 {
    background: var(--bg-white);
    height: 100vh;
}

.section_container {
    width: 100%;
    padding: 0px 30px;
    background: var(--bg-white)
}

.container_content {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    background: var(--bg-white);
    color: var(--bg-green-dark);
}

.section_01_content{
    width: 100%;
    padding: 7rem 0px;
    text-align: center;
}

.section_01_content p {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: var(--bg-green-dark);
    margin: 20px 0px;
}

.section_01_content span {
    color: var(--bg-green);
    font-size: 3rem;
    line-height: 4rem;
    margin: 20px 0px;
}

.section_01_content a {
    cursor: pointer;
    text-decoration: none;
    color: var(--bg-green-medium);
    margin: 20px 0px;
}

p.text_section {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
    margin: 35px 0px;
    color: var(--bg-green-dark)
}

span.text_section_span {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 20px 0px;
    color: var(--bg-green)
}

@media only screen and (max-width: 620px) {
    .toggle-button {
        display: flex;
    }
    .navbar-brand a {
        font-size: 30px;
    }
    .navbar-links {
        display: none; 
        width: 100%;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        font-size: 24px;
        line-height: 34px;
        padding: 7px 0px;
    }
    .navbar-links.active {
        display: flex;
    }
}