@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root {
    --bg-white: #efeff7;
    --bg-green: #20d533;
    --bg-green-dark: #1c301d;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-white);
}

header {
    width: 100%;
    padding: 0px 20px;
    background: var(--bg-white);
    position: fixed;
}

.navbar {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.navbar-brand a {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#Dev {
    color: var(--bg-green);
}

#Hours {
    color: var(--bg-green-dark);
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    display: block;
    padding: 0px 10px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button  img {
    width: 25px;
}

@media only screen and (max-width: 620px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none; 
        width: 100%;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        font-size: 18px;
        padding: 10px 0px;
    }
    .navbar-links.active {
        display: flex;
    }
}