@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root {
    --bg-white: #efeff7;
    --bg-green: #20d533;
    --bg-green-dark: #1c301d;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    background: var(--bg-white);
}

.navbar {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand a {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#Dev {
    color: var(--bg-green);
}

#Hours {
    color: var(--bg-green-dark);
}

.navbar-content {
    display: inline-flex;
    visibility: hidden;
}

.navbar-content li {
    list-style: none;
    padding: 0px 7px;
}

.navbar-content li a {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}